body{background-color: black;}

body {
  background-image: url("http://www.4usky.com/data/out/87/164782431-splatter-wallpapers.jpg");
background-repeat: no-repeat}

a {
  color: white;
  background-color:black;
  padding:10px;
  font-size:18px;
  text-decoration-line:none;
  font-family:"Comic Sans MS", cursive, sans-serif;
}
