body{ background-color: black;}

h1{color: LightSkyBlue;
font-family: Arial Black, Gadget, sans-serif;
font-size: 75px}


h2{color: #afb0a7;
font-family: Arial, Helvetica, sans-serif;
font-size: 50px}

p{color: White;
font-family: Arial, Helvetica, sans-serif;
font-size: 50px;
text-align: center;}

a{color: White;
font-family: Arial, Helvetica, sans-serif;
font-size: 40px}

.darkBG {
  background: #9e6f1e;
}

.darkerBG {
  background: #9e6f1e;
}

.darkestBG {
  background: #9e6f1e;
}
