body{background-color: Powderblue;}

h1{color: Black;
font-family: Arial Black, Gadget, sans-serif;
font-size: 50px
text-align: center;}

img{border:10px solid Black;
width: 180px;
height: 120px;}

h2{color: Black;
font-family: Arial, Helvetica, sans-serif;
font-size: 25px;}

h3{color: Black;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;}

p{color: Black;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;}

a{color: Black;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;}

li{color: Black;
font-family: Arial, Helvetica, sans-serif;
font-size: 22}

ul{columns:2}
